#events {
  background-color: #333333; }

div {
  font: 22px Helvetica, sans-serif;
  font-family: Lato; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: none;
    color: white; }
  a:focus {
    text-decoration: none;
    color: white; }

#stadium-container {
  padding: 0;
  margin: auto;
  display: block;
  width: 640px; }

.pointer-view {
  cursor: pointer; }

.default-view {
  cursor: default; }

.sector-place {
  font-size: small;
  font-weight: bold;
  width: 35px;
  color: white;
  border: 1px solid;
  outline: none; }

.sector-place-accessible {
  background-color: #76b852; }
  .sector-place-accessible:hover {
    background-color: #fcb045; }

.sector-place-inaccessible {
  background-color: #fd1d1d;
  cursor: not-allowed;
  pointer-events: none; }

.img-container {
  filter: brightness(50%);
  background: url("../images/stadium-chairs-1.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.center {
  position: absolute;
  width: 800px;
  height: 50px;
  top: 32%;
  left: 50%;
  margin-left: -400px;
  margin-top: -25px; }

.sub-center {
  position: absolute;
  width: 800px;
  height: 50px;
  top: 58%;
  left: 50%;
  margin-left: -400px;
  margin-top: -25px; }

.sub2-center {
  position: absolute;
  width: 800px;
  height: 50px;
  top: 70%;
  left: 50%;
  margin-left: -50px;
  margin-top: -25px; }

.main-container {
  color: white; }

.main-text {
  font-size: 60px; }

.sub-main-text {
  font-size: 32px; }

.btn-main-page {
  background-color: transparent;
  color: white;
  border: solid 2px;
  max-width: 360px;
  height: 60px;
  border-radius: 25px; }
  .btn-main-page:hover {
    background-color: #159957; }
  .btn-main-page:focus {
    outline: 0; }

.btn-choosed-sector {
  background-color: white;
  color: forestgreen;
  border: solid 2px;
  width: 300px;
  height: 50px;
  border-radius: 55px;
  padding: 15px;
  font-size: medium; }
  .btn-choosed-sector:hover {
    color: white;
    background-color: forestgreen; }
  .btn-choosed-sector:focus {
    outline: 0; }

.btn-next {
  background-color: white;
  color: #0f9b0f;
  border: solid 1px;
  width: 180px;
  height: 40px;
  border-radius: 25px; }
  .btn-next:hover {
    color: white;
    background-color: #0f9b0f; }
  .btn-next:focus {
    outline: none; }

button {
  outline: none; }

.btn-back {
  background-color: white;
  color: #fd1d1d;
  border: solid 1px;
  width: 180px;
  height: 40px;
  border-radius: 25px;
  margin: 15px;
  font-size: medium;
  outline: none; }
  .btn-back:hover {
    color: white;
    background-color: #fd1d1d; }
  .btn-back:focus {
    outline: 0; }

.link-to-choose-place {
  color: forestgreen; }
  .link-to-choose-place:hover {
    color: white; }

.carousel {
  max-width: 960px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  left: 0;
  right: 0; }

.item {
  width: auto;
  height: 420px; }

.events {
  color: white;
  padding-top: 30px;
  padding-bottom: 50px;
  height: 640px; }

footer {
  background-color: #182848;
  height: 180px;
  color: white; }

.sector-places-indent {
  margin-right: 15px; }

.content-center {
  float: none;
  margin: 0 auto; }

.places-choosing {
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px; }

.bottom-btn-nav {
  background-color: #348F50;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: medium; }

.header-footer-decorate {
  background-color: #348F50;
  padding-top: 10px;
  padding-bottom: 30px;
  color: white; }

table {
  font-size: small; }

.select-sector {
  width: 95%;
  height: 70px;
  margin-top: 60px;
  background-color: transparent;
  color: black;
  border: solid 1px;
  border-radius: 15px;
  text-align: center;
  text-align-last: center;
  font-size: xx-large; }
  .select-sector:hover {
    background-color: black;
    color: white; }
  .select-sector:focus {
    outline: 0; }

.info {
  margin: 10px;
  margin-top: 45px;
  padding: 15px;
  font-size: xx-large;
  background-color: cornflowerblue;
  color: white;
  border-radius: 20px;
  text-align: center; }

.info-text-content {
  font-size: x-large; }

@media (min-width: 320px) and (max-width: 480px) {
  .center {
    position: absolute;
    width: 300px;
    height: 50px;
    top: 32%;
    left: 50%;
    margin-left: -150px;
    margin-top: -25px; }
  .sub-center {
    position: absolute;
    width: 300px;
    height: 50px;
    top: 54%;
    left: 50%;
    margin-left: -150px;
    margin-top: -25px; }
  .sub2-center {
    position: absolute;
    width: 300px;
    height: 50px;
    top: 65%;
    left: 50%;
    margin-left: -125px;
    margin-top: -25px; }
  .main-container {
    color: white; }
  .main-text {
    font-size: 35px; }
  .sub-main-text {
    font-size: 13px; } }
